<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>Domestic Landing Page</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="../img/logo/Image 13@2x.png" alt="logo">
            <img src="../img/nav-link-icon@2x.png" alt="menu">
            <div class="nav-links">
                <h3>How it works</h3>
                <h3>Career Outcomes</h3>
                <h3>Testimonials</h3>
            </div>
        </div>
    </header>
    <section class="hero-section">
        <div class="container">
            <div class="hero-content">
                <h1>PG Program in AI & ML</h1>
                <h3>Build a rewarding career and learn skills that make you stand out</h3>
            </div>
            <h4>12 Months   |   Online Mentorship or Classroom   |   Dual Certificate</h4>
            <a href="#">Download Brochure</a>
            <p>Application closes Tomorrow</p>
        </div>
        <!-- <div class="background-design">
            <div class="purple-dots">
                <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>
                  <div>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>  
                  </div>                  
            </div> -->
            </div>
        </div>
    </section>
    <section class="banner container">
        <h3>India’s No 1 AI Program in Collaboration with</h3>
        <img src="../img/McCombs_School/4_RGB_McCombs_School_Brand_Branded@2x.png" alt="Mccombs">
        <img src="../img/Great lakes/Logo_Great lakes@2x.png" alt="great lakes">
    </section>
    <section class="learn-subjects">
        <div class="container">
            <div class="learn-title">
                <h3>What you'll learn</h3>
            </div>
            <div class="subjects">
                <div class="each-subject">
                    <img src="../img/python@2x.png" alt="python">
                    <h3>Python</h3>
                </div>
                <div class="each-subject">
                    <img src="../img/machine_learning@2x.png" alt="machine learning">
                    <h3>Machine Learning</h3>
                </div>
                <div class="each-subject">
                    <img src="../img/deep_learning@2x.png" alt="deep learning">
                    <h3>Deep Learning</h3>
                </div>
                <div class="each-subject">
                    <img src="../img/neural_networks@2x.png" alt="neural netowrks">
                    <h3>Neural Networks</h3>
                </div>
                <div class="each-subject">
                    <img src="../img/computer_vision@2x.png" alt="computer vision">
                    <h3>Computer Vision</h3>
                </div>
                <div class="each-subject">
                    <img src="../img/nlp@2x.png" alt="nlp">
                    <h3>NLP</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="industry-standards">
        <div class="download-brochure-panel">
            <h2>Learn industry-relevant skills and build a rewarding career</h2>
            <a href="#">Download Brochure</a>
        </div>
        <div class="container">
            <h1>Industry-relevant learning, designed for Working Professionals </h1>
            <div class="industry-blocks">
                <div class="industry-box">
                    <img src="../img/industry_1@2x.png" alt="1">
                    <img src="../img/logo_industry_1.png"  alt="logo_industry_1">
                    <p>Offered in convenient weekend classroom and online with mentorship formats</p>
                </div>
                <div class="industry-box">
                    <img src="../img/industry_2@2x.png" alt="2">
                    <img src="../img/logo_industry_2.png" alt="logo_industry_2">
                    <p>Build a solid foundation to your AI career</p>
                </div>
                <div class="industry-box">
                    <img src="../img/industry_3@2x.png" alt="3">
                    <img src="../img/logo_industry_3.png" alt="logo_industry_3">
                    <p>Learn from the best, faculties from UT Austin, IIT Bombay and Great Lakes</p>
                </div>
                <div class="industry-box">
                    <img src="../img/industry_4@2x.png" alt="4">
                    <img src="../img/logo_industry_4.png" alt="logo_industry_4">
                    <p>Stay on track with a structured learning journey</p>
                </div>
                <div class="industry-box">
                    <img src="../img/industry_5@2x.png" alt="5">
                    <img src="../img/logo_industry_5.png" alt="logo_industry_5">
                    <p>Become job-ready with real-life projects</p>
                </div>
            </div>
        </div>
    </section>
    <section class="career">
        <div class="career-benefits">
            <div class="container">
                <h1>A program that delivers career outcomes </h1>
                <div class="each-career-box">
                    <img src="../img/career_1@2x.png" alt="career1">
                    <p>Get recognition for your skills with a dual certificate</p>
                    <img src="../img/logo_career_1.png" alt="logo_career_1">
                </div>
                <div class="each-career-box">
                    <img src="../img/career_2@2x.png" alt="career2">
                    <p>Get recognition for your skills with a dual certificate</p>
                    <img src="../img/logo_career_2.png" alt="logo_career_2">
                </div>
                <div class="each-career-box">
                    <img src="../img/career_3@2x.png" alt="career3">
                    <p>Get recognition for your skills with a dual certificate</p>
                    <img src="../img/logo_career_3.png" alt="logo_career_3">
                </div>
            </div>
        </div>
    </section>
    <section class="feedback">
        <h2>Why learners choose Great Learning</h2>
        <div class="feedback-boxes">
            <div class="each-feedback-box">
                <h4>Pradeep Sharma</h4>
                <h5>Python Developer to AI Expert</h5>
                <p>It was an exhilarating experience for a programmer like me to gain advanced AI skills. I am now in a dream position with Google. Thanks to Greatlearning.</p>
            </div>
            <div class="each-feedback-box">
                <h4>Pradeep Sharma</h4>
                <h5>Python Developer to AI Expert</h5>
                <p>It was an exhilarating experience for a programmer like me to gain advanced AI skills. I am now in a dream position with Google. Thanks to Greatlearning.</p>
            </div>
            <div class="each-feedback-box">
                <h4>Pradeep Sharma</h4>
                <h5>Python Developer to AI Expert</h5>
                <p>It was an exhilarating experience for a programmer like me to gain advanced AI skills. I am now in a dream position with Google. Thanks to Greatlearning.</p>
            </div>
        </div>
    </section>
</body>
</html>